

.bg_general{
    position: relative;
    border: 1px solid black;
    width: 900px;
    height: 700px;
    margin: 0 auto;
    margin-top: 143px;
    border-radius: 20px;
    background-color: #222A34;
    box-shadow: 1px 1px 24px #111111;
}

.close_img{
    position: absolute;
    top: 21px;
    left: 21px;
}

.title{
    color: white;
    font-size: 38px;
    text-align: right;
    margin-top: 16px;
    margin-right: 16px;
}